*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

p {
    margin-bottom: 20px;
  }

header{
    background-color: #033860;
    width: 100%;
}

header h1{
    display: inline-block;
    text-align: left;
    font-size: 2em;
    padding: 30px 50px;
    color: white
}

header nav{
    display: inline-block;
    text-align: right;
    width: 70%;
}

header nav ul{
    display: inline-block;
    list-style-type: none;
    margin: 0.5em auto;
    text-align: center;

}

header nav ul li{
    display: inline-block;
}

header nav li a {
    padding: 2px 7px 2px 7px;
    color:#DDDDDD;
    text-decoration: none;
}

header nav li a:hover{
    color: #8FB8DE;
 }

header nav ul li a:active{
    padding: 0.2em;
}

body{
    background-color: #DDDDDD;
}

main{
    text-align: center;
}

h2, h3{
    text-align: center;
    color: #033860;
    padding: 5px;
}

h2{
    margin-top: 20px;
    margin-bottom: 12x;
}

h3{
    margin-top: 40px;
    margin-bottom: 1px;
}

h4{
    color: #8FB8DE;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 2px; 
}

p{
    text-align: center;
}

.imagen img{
    padding: 30px;
    margin: 10px;
    border-radius: 90px;
}

.habilidades ul li{
    text-decoration:underline;
    list-style-type: disc;
}

.formulario1 {
    margin: 0 auto;
    display: block;
}
.formh3{
    margin-top: 40px;
}

label{
    text-align: center;
    display:block;
    padding-top: 20px;
    color:rgb(5, 5, 5);
    font-size: 15px;
    position: static;
}

#demo{
    padding-top: 20px;
    margin-top: 10px;
}

#boton{
    margin-top: 10px;
}

footer{
    background-color: #033860;   
}

footer h3{
    color:#DDDDDD;
    text-align: center;
}
